.p-menubar-button {
  display: none !important;
}
/* ===================State Card========================== */
.state_card_1{
    background: rgb(38,148,207);
    background: linear-gradient(317deg, rgba(38,148,207,1) 0%, rgba(18,103,201,1) 100%);
}
.state_card_2{
    background: rgb(203,188,37);
    background: linear-gradient(319deg, rgba(203,188,37,1) 0%, rgba(159,161,3,1) 100%);
}
.state_card_3{
    background: rgb(80,148,28);
    background: linear-gradient(124deg, rgba(80,148,28,1) 0%, rgba(140,201,18,1) 100%);
}
.state_card_4{
    background: rgb(38,148,207);
    background: linear-gradient(317deg, rgba(38,148,207,1) 0%, rgba(18,103,201,1) 100%);
}
.state_card {
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  color: white;
transition: all ease 0.4s;
min-width: 250px;
}
.state_card:hover{
    transform: translateY(-5px);
}
.state_card .state_card_left .state_card_title{
    font-size: 20px;
    font-weight: 700;
}
.state_card .state_card_right{
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

/* ===============Container===================== */
.container{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 4px 10px 10px;
    border-radius: 8px;
    flex: 1;
    margin-top: 10px;

}


/* ==============Button================= */
.btn > button{
    padding: 10px 20px;
    border: 0;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    background-color: blue;
}

/* ==================page top==================== */
.page_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_top .btn{
    border: none;
    background-color: blue;
    padding: 8px 10px;
    color: white;
    font-weight: 600;
}
